.dropdown-toggle::after {
    content: none;
  }

  #welcome {
    width: 70%;
    padding: 2%;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    border: 1px solid darkgreen;
    background-color: lightgreen;
    color: rgb(0, 42, 0);
  }